<nav>
    <div class="site-title"></div>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/create">Create Blog</a>
        </li>
    </ul>
</nav>