<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/create">Create Blog</a>
    </nav>
    <div>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro voluptas architecto mollitia cumque vero rem ratione impedit fugiat ex!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam pariatur veritatis deleniti voluptatem, enim tenetur quibusdam rerum, ea minus, facere mollitia nemo incidunt beatae cum?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit sapiente delectus officiis ipsum quo quae. Facere maiores alias unde iure reiciendis molestiae dicta asperiores, est quasi animi repudiandae, dolor illo!</p>
    </div>
</body>
</html>